# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
weather_df = pd.read_csv('cities.csv')
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Souillac,-20.5167,57.5167,26.00,78,75,1.03,MU,1614920083
1,Norman Wells,65.2820,-126.8329,-15.00,66,75,5.14,CA,1614920085
2,Yamada,39.4667,141.9500,12.49,61,88,4.68,JP,1614920106
3,Jamestown,42.0970,-79.2353,-7.78,90,90,5.62,US,1614920030
4,Rikitea,-23.1203,-134.9692,27.59,80,78,1.98,PF,1614920088
...,...,...,...,...,...,...,...,...,...
571,Kaseda-shirakame,31.4167,130.3167,18.00,82,75,1.03,JP,1614920797
572,Byādgi,14.6833,75.4833,29.18,20,13,3.67,IN,1614920798
573,Utraula,27.3167,82.4167,28.15,16,0,2.87,IN,1614920800
574,Khandyga,62.6667,135.6000,-30.20,81,97,1.26,RU,1614920801
575,Shache,38.4167,77.2406,11.94,37,24,0.71,CN,1614920801

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [80]:
gmaps.configure(api_key='AIzaSyADXpcK2ARXN2Ez4C8rqgl1xlt42uqDbg8')



lat_lon = weather_df[["Lat", "Lng"]]
humidity = weather_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(lat_lon, weights=humidity, dissipating=False, point_radius=5))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [85]:
spicific_df = weather_df.loc[(weather_df['Max Temp'] < 40) & (weather_df['Max Temp'] > 30) & (weather_df['Wind Speed'] < 10) & (weather_df['Cloudiness'] == 0)]
spicific_df
# I was not able to find any datapoints that were between the tempratures of 70 and 80 so I chose a different temprature range.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
54,Chinchani,19.8667,72.7000,31.26,25,0,3.70,IN,1614920223
158,Sur,22.5667,59.5289,30.46,32,0,0.46,OM,1614920336
364,Kon Tum,14.3500,108.0000,36.36,15,0,0.96,VN,1614920570
452,Naliya,23.2667,68.8333,30.04,36,0,1.99,IN,1614920664
495,Moree,-29.4667,149.8500,32.00,22,0,7.72,AU,1614920430
505,Athmallik,20.7219,84.5348,35.74,10,0,1.12,IN,1614920720
540,Kyaiklat,16.4333,95.7333,34.00,31,0,3.60,MM,1614920759

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [87]:
hotel_df = spicific_df[['City', 'Country', 'Lat', 'Lng']]
hotel_df

          City Country      Lat       Lng
54   Chinchani      IN  19.8667   72.7000
158        Sur      OM  22.5667   59.5289
364    Kon Tum      VN  14.3500  108.0000
452     Naliya      IN  23.2667   68.8333
495      Moree      AU -29.4667  149.8500
505  Athmallik      IN  20.7219   84.5348
540   Kyaiklat      MM  16.4333   95.7333

In [202]:
import googlemaps
import pprint

hotel_names = []
hotel_lats = []
hotel_lngs = []

for i, element in hotel_df.iterrows():
    city = element["City"]
    country = element["Country"]
    lat = element["Lat"]
    lng = element["Lng"]
    
    gmaps = googlemaps.Client(key='AIzaSyADXpcK2ARXN2Ez4C8rqgl1xlt42uqDbg8')
    place_result = gmaps.places_nearby(location=f'{lat},{lng}', radius=4000, open_now=False, type='hotel')
    hotel_names.append(place_result['results'][0]['name'])
    hotel_lats.append(place_result['results'][0]['geometry']['location']['lat'])
    hotel_lngs.append(place_result['results'][0]['geometry']['location']['lng'])

ApiError: INVALID_REQUEST

In [203]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [205]:
# Add marker layer ontop of heat map

fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))

# Display figure
fig

AttributeError: 'Client' object has no attribute 'marker_layer'